*.swp
*.swo
*.swa
*.o
*.a
*.gtree
*.out
*.sol
*.log
*#
.vscode/
.#*
*.sol
*.dat
*.mp4
*.tags*
*.backup
*.aux
*.fdb_latexmk
*.fls
*.pdf
*.synctex.gz
*.toc
*.txt
*.log
*.log1
*.log2
readme.sh
temp.html
private/
build/
lib/
data/benchmark/temp
data/benchmark/old
tool/gtreebuilder/gtreebuilder
tool/rspgen/rspgen_c
tool/rspgen/data/
tool/rspgen/script/
tool/rspgen/out/
tool/solverify/solverify
tool/solverify/data/
tool/solverify/problem/
test/build/
test/run_tests
example/gr/gr
example/nn/nn
example/ba/ba
example/tg/tg
example/kt/kt
example/sa/sa
example/grasp/grasp
example/rs/rs
example/rj/rj



