*.swp
*.swo
*.swa
*.o
*.a
*.gtree
*.out
*.sol
*#
.vscode/
.#*
*.sol
*.partial
*.mp4
build/
lib/
tool/gtreebuilder/gtreebuilder
tool/rspgen/*.dat
test/build/
test/run_tests
example/greedy_insertion/greedy_insertion
example/nearest_neighbor/nearest_neighbor
example bilateral_arrangement/bilateral_arrangement
example/trip_vehicle_grouping/trip_vehicle_grouping
example/kinetic_trees/kinetic_trees
