*.swp
*.swo
*.swa
*.o
*.a
*.gtree
*.out
*.sol
*.log
*#
.vscode/
.#*
*.sol
*.dat
*.mp4
*.tags*
*.backup
*.aux
*.fdb_latexmk
*.fls
*.pdf
*.synctex.gz
*.toc
*.txt
*.log
*.log1
*.log2
readme.sh
temp.html
private/
build/
lib/
data/benchmark/temp
data/benchmark/old
tool/gtreebuilder/gtreebuilder
tool/rspgen/rspgen
tool/rspgen/script.sh
test/build/
test/run_tests
example/greedy_insertion/greedy_insertion
example/nearest_neighbor/nearest_neighbor
example/ba/ba
example/baimproved/baimproved
example/trip_vehicle_grouping/trip_vehicle_grouping
example/kinetic_trees/kinetic_trees
example/kinetic_trees/kinetic_trees.cpp.test
example/no_algorithm/no_algorithm
example/simulated_annealing/simulated_annealing
example/population_annealing_far/population_annealing_far
example/population_annealing_near/population_annealing_near
example/ignore
example/grasp/grasp


